<%- include('partials/head'); %>
<%- include('partials/nav'); %>
<div class="center">
    <h3>The temperature in <%=query%> is : <%=temp%> degree celcius</h3>
    <h3><%=weatherDesc%></h3>
    <img src="<%=imgUrl%>"></img>
</div>

